<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>Color Generator</ion-title>
  </ion-toolbar>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-label color="danger">R</ion-label>
      <ion-input color="danger" type="number" placeholder="R" [(ngModel)]="r" min="0" max="255" maxlength="255" name="r"
        (input)="checkNumberLimit($event)"></ion-input>
        <ion-label color="success">G</ion-label>
      <ion-input color="success" type="number" placeholder="G" [(ngModel)]="g" min="0" max="255" name="g"
        (ionInput)="checkNumberLimit($event)"></ion-input>
        <ion-label color="primary">B</ion-label>
      <ion-input color="primary" type="number" placeholder="B" [(ngModel)]="b" min="0" max="255" name="b"
        (ionInput)="checkNumberLimit($event)"></ion-input>
        <ion-label color="medium">A</ion-label>
      <ion-input color="medium" type="number" placeholder="A" [(ngModel)]="a" min="0" max="1" name="a"
        (ionInput)="checkNumberLimit($event)"></ion-input>

      <ion-button fill="clear" color="dark" style="vertical-align: middle;" (click)="copyToClipboard()">
        <ion-icon name="copy-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-button fill="clear" (click)="randomize()" slot="end" color="dark">
      <ion-icon name="shuffle-outline" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: rgba({{r}}, {{g}}, {{b}}, {{a}}); opacity: {{a}};">

</ion-content>

<ion-footer id="footer">
  <ion-button (click)="expandCollapseContainer()" class="expand-collapse-btn">
    <ion-icon slot="icon-only" name="{{icon}}"></ion-icon>
  </ion-button>
  <ion-range min="0" max="255" step="1" color="danger" pin="true" [(ngModel)]="r"></ion-range>
  <ion-range min="0" max="255" step="1" color="success" pin="true" [(ngModel)]="g"></ion-range>
  <ion-range min="0" max="255" step="1" color="primary" pin="true" [(ngModel)]="b"></ion-range>
  <ion-range min="0" max="1" step="0.01" color="dark" [(ngModel)]="a"></ion-range>
</ion-footer>
