ion-footer {
  height: 178px;
  padding-top: 10px;
  background: #f4f5f8;
  transition: ease-out 0.5s;
}

ion-input{
  --padding-start: 0;
  --padding-end: 0;
  text-align: center;
  background: rgb(0 0 0 / 5%);
    border-radius: 5px;
    margin-left: 5px;
    min-width: 56px;
}

ion-content{
  transition: ease-out 0.5s;
}

ion-toolbar {
  --padding-start: 10px;
}

ion-header {
  top: 0;
  transition: ease-out 0.5s;
}

.expand-collapse-btn {
  height: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
  --border-radius: 5px 5px 0 0;
  --background-activated: #1f1f1f;
  --background: #f4f5f8;
  color: #1f1f1f;
  width: 80px;
}
.md {
  .expand-collapse-btn {
    --box-shadow: none;
  }
}
@media (prefers-color-scheme: dark) {
  ion-footer {
    background: #1f1f1f;
  }

  .expand-collapse-btn {
    --background: #1f1f1f;
    color: #f4f5f8;
  }

  ion-input{
    background: rgb(255 255 255 / 5%);
  }
}

ion-range {
  padding-top: 0;
  padding-bottom: 0;
  --knob-size: 20px;
}

ion-buttons {
  font-weight: bold;
  margin: 0;
}

.ios{
  ion-buttons {
    margin: 5px 0 5px 0;
  }
}
